@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<a href="MoPhong/Thi">Thi đề ngẫu nhiên</a>
<a href="MoPhong/Hoc">Học 120 câu mô phỏng</a>
